@{
    ViewBag.Title = "MainLinks";
}

<h2>Main Links</h2>
<a href="~/Admin/addLinksData1" style="font-size:30px">add Employee</a><br>
<a href="~/Admin/ViewLinks" style="font-size:30px">view Employees</a><br>
