@{
    ViewBag.Title = "TakeKey";
}

<div style="margin-left:190px;width:800px;height:400px;background-color:burlywood">
<h2 style="color:blue;font-family:'Times New Roman';text-align:center"><u>To Take ID of Your FIR</u></h2>
<form action="/Admin/SendObj" method="post">
    <label style="font-size:24px;color:green;font-family:'Times New Roman';margin-top:50px;padding-left:100px">Please Enter your FIR ID: </label><br /><input type="text" name="myId" style="width:50%;height:30px;margin-left:180px;font-size:20px;font-family:'Times New Roman'"/><br />
   <label style="font-size:24px;color:green;font-family:'Times New Roman';margin-top:100px;padding-left:100px">Please Press OK: </label><br /> <input type="submit" value="OK" style="width:200px;height:60px;margin-left:300px;font-size:30px;font-family:'Times New Roman';color:white;background-color:black" />
</form>
    </div>