@{
    ViewBag.Title = "ViewLinks";
}

<h2 style="margin-top:100px;font-family:'Times New Roman';color:blue;margin-top:70px"><u>UseFull Links:</u></h2>




    <div  style="background-color:lightgray;margin-top:30px;margin-left:20px;margin-right:30px;margin-bottom:50px;">
<table>
    
 <tr>  <td style="font-size:20px;color:blue;font-family:'Times New Roman';margin-left:20px;padding-left:30px"><b><u style="list-style:square;color:red">Name with Designation</u></b></td>
    
    <td style="font-size:20px;color:blue;font-family:'Times New Roman';padding-left:100px"><b><u style="list-style:square;color:red">Link</u></b></td></tr>
    
    @foreach (var s in Model)
    {
        <tr>
             <td style="font-size:17px;padding-left:30px;font-family:'Times New Roman'"> @s.Name</td>
            <td style="font-size:17px;padding-left:100px;font-family:'Times New Roman'"><a href="@s.Linkk" target="_blank"> @s.Linkk </a></td>

             <td>
                <a href="~/Admin/UpdateLinks/@s.Id" style="font-size:17px;margin-right:70px;margin-left:70px;font-family:'Times New Roman'" ><b>UPDATE</b></a> 
                <a href="~/Admin/deleteLinks/@s.Id" style="font-size:17px;font-family:'Times New Roman'"><b>DELETE</b></a>
            </td>
         
        </tr>
    }
   
</table>
    </div>
    
 
   
