@{
    ViewBag.Title = "Index";
}


<h2><u>To Enter data in NavBar Items:</u></h2>
<a href="~/Admin/Index" style="font-size:40px">To Enter as Admin</a><br /><br />
<a href="http://localhost:1901/" style="font-size:40px">To Enter as Client</a><br /><br />